
<!-- templates/base.html -->
{% load static %}
<html>
<head>
        <title>Django blog</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <meta charset="utf-8">
        <title>{% block title %}Newspaper App{% endblock title %}</title>
</head>
<header>
    <div class="nav-left">
    <h1><a href="{% url 'home' %}">Home</a></h1>
    <h1><a href="{% url 'about' %}">About</a></h1>

    </div>
        {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
        {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
        {% endif %}

</header>
<body>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>